.bg-colored {
    background-color: #637e9a !important;
}

.btn-primary.search-button {
    background-color: #255280;
    border-color: #255280;
}

.today-forecast.empty {
    opacity: 0;
}

.today-icon {
    display: block;
    float: right;
    /* Shrink today's icon to make it bigger than 5-day forecast */
    scale: 1.5;
}